/*--------------------
Google Fonts
----------------------*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
/*--------------------
Gobal Style
----------------------*/
:root{
	--bg-black-900: #000000;
    --bg-black-100: #dddddd;
    --bg-black-50: #dff0f4;
    --bg-opacity: rgba(255,255,255,0.5);
    --text-black-900: #000000;
    --text-black-700: #555555;
    --text-black-600: #666666;
    --text-black-300: #bbbbbb;
    --bg-black-300: #bbbbbb;
    --outer-shadow: 3px 3px 3px #d0d0d0, -3px -3px 3px #f8f8f8;
    --outer-shadow-0: 0 0 0 #d0d0d0, 0 0 0 #f8f8f8;
    --inner-shadow: inset 3px 3px 3px #d0d0d0, inset -3px -3px 3px #f8f8f8;
    --inner-shadow-0: inset 0 0 0 #d0d0d0, inset 0 0 0 #f8f8f8;
}
@font-face {
    font-family: bigjhon;
    src: url(../webfonts/BIGJOHN.woff);
  }
body{
    font-family: "Open Sans", sans-serif;
    line-height: 1.5;
    overflow-x: hidden !important;
    font-weight: 400;
    color: #212529;
}
body.stop-scrolling{
    overflow-y: hidden;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
::before , ::after{
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
ul , ol{
    list-style: none;
    margin: 0;
    padding: 0;
}
img{
    vertical-align: middle;
    max-width: 100%;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat', sans-serif;
}
@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes toBounce{
    0%,100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(20px);
    }
}
@keyframes leftBounce{
    0%,100%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(20px);
    }
}
@keyframes fadeInTop{
    0%{
        opacity: 0;
        transform: translateY(-25px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
@-webkit-keyframes rotateVideoFrame{
    0%{
        transform:rotate(0)
    }100%{
        transform:rotate(360deg)
    }
}
@keyframes rotateVideoFrame{
    0%{
        transform:rotate(0)
    }100%{
        transform:rotate(360deg)
    }
}
@keyframes Gradient{
    0%{
        color: #fff;
        background: linear-gradient(-45deg,#ee7752,#e73c7e,#23a6d5,#23d5ab);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        border-radius: 3px;
        font-weight: normal;
    }
    50%{
        color: #fff;
        background: linear-gradient(-45deg,#ee7752,#e73c7e,#23d5ab);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        border-radius: 3px;
        font-weight: normal;
    }
    100%{
        color: #fff;
        background: linear-gradient(-45deg,#ee7752,#e73c7e);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        border-radius: 3px;
        font-weight: normal;
    }
}
.section-title {
    padding: 0;
    max-width: 100%;
    text-align: left;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    margin-bottom: 30px;
    color: #2C2A4A;
}
.content{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 40px;
    display: block;
    color: #000000;
}
.section-title h2{
    display: inline-block;
    font-size: 30px;
    font-weight: 700;
    color: var(--text-black-900);
    text-transform: uppercase;
    margin: 0;
}
.section-title h2::before{
    content: attr(data-heading);
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: var(--skin-color1);
}
.section.hide{
    display: none;
}
/*--------------------
Pre Loader
----------------------*/
.preloader{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1500;
    background: var(--bg-black-50);
    display: flex;
    justify-content: center;
    align-items: center;
}
.preloader.fade-out{
    opacity: 0;
    transition: all 0.6s ease;
}
.preloader .box{
    width: 65px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.preloader .box div{
    height: 15px;
    width: 15px;
    background: var(--skin-color1);
    border-radius: 50%;
    animation: loaderAni 1s ease infinite;
}
.preloader .box div:nth-child(2){
    animation-delay: 0.1s;
}
.preloader .box div:nth-child(3){
    animation-delay: 0.2s;
}
@keyframes loaderAni{
    0%,100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-30px);
    }
}
.button-list{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ggBtn {
    cursor: pointer;
    height: 3rem;
    border-radius: 3px;
    padding: 1.1rem 2rem;
    font-family: bigjhon,sans-serif;
    font-weight: 500;
    border-style: solid;
    transition: color .3s,background-color .3s;
    overflow: hidden;
    position: relative;
    border-width: 0;
    outline: 0;
    white-space: nowrap;
    background: linear-gradient(to right,#345fdb,#347cdb);
    color: #fff;
    box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
    font-size: 1.15rem;
    letter-spacing: 1px;
    display: block;
    line-height: 9.5px;
}
.ggBtn:hover{
    color: #345fdb !important;
}
.ggBtn:before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: 0;
    color: #fff;
    border-radius: 3px;
    transform: skew(-35deg);
    opacity: 1;
    background: #fff;
    z-index: 2;
    transition: left .4s cubic-bezier(.86,0,.07,1),width .4s cubic-bezier(.86,0,.07,1),transform .4s cubic-bezier(.86,0,.07,1),opacity .3s;
}
.ggBtn:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0);
    left: 0;
    top: 0;
}
.ggBtn:hover:before {
    left: 0;
    width: 100%;
    transform: skew(0);
    transition: left .4s cubic-bezier(.86,0,.07,1),width .4s cubic-bezier(.86,0,.07,1),transform .4s cubic-bezier(.86,0,.07,1),opacity .3s;
}
.ggBtn span {
    position: relative;
    z-index: 3;
}
.btnred {
    text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
    box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
    background: linear-gradient(to right,#e7253c,#e74c3c);
    margin-left: 10px;
}
.btnred:hover{
    color: #e7253c !important;
}
.container{
    width: 1320px !important;
}
/*--------------------
Header Style Start
----------------------*/
#site-header {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 999999;
}
#header-top {
    background-color: rgba(0,0,0,.3);
    margin-bottom: 1.5rem;
    border-bottom: 1px solid rgba(255,255,255,.1);
}
.top-social-list ul li a {
    font-size: 1rem;
    padding: 0.9rem 1rem;
    box-shadow: 0 0 0 rgb(0 0 0 / 30%);
    color: #fff!important;
    opacity: .5;
    transition: opacity .3s,box-shadow .3s;
    font-family: "Open Sans", sans-serif;
    line-height: 1.5;
    font-weight: 400;
    display: inline-block;
}
.top-social-list ul li a:hover{
    opacity: 1;
    box-shadow: 0 0 10px #3333;
}
.site-nav ul li a {
    font-family: inherit !important;
    margin-left: 10px;
}
.site-nav ul li .ggBtn {
    padding: 1.7rem 2rem !important;
    line-height: 0;
}
.site-nav ul li a.nav-item {
    background: transparent !important;
    padding: 1.7rem 1rem !important;
    line-height: 0px !important;
}
.site-nav .nav-item::before {
    background: #345fdb !important;
}
.site-nav .nav-item:hover {
    color: #fff !important;
}
.mobilemenu {
    float: right;
    height: 36px;
    width: 40px;
    border: 0;
    display: flex;
    flex-wrap: wrap;
    display: none;
}
.mobilemenu span {
    height: 5px;
    width: 100%;
    background: #333;
}
/*--------------------
Header Style End
----------------------*/
/*--------------------
Hero Section Style Start
----------------------*/
#hero-section {
    padding: 250px 0 0px 0;
    background: linear-gradient(to right,rgba(0,50,97,.85),rgba(0,50,97,.84)),url(../images/home_welcome_bg.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
#hero-section .container {
    z-index: 555;
    position: relative;
}
#hero-section #heroanimation canvas {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    opacity: 0.4;
}
.wellcome-logo svg {
    fill: #ddd !important;
}
.wellcome-content h1 {
    font-size: 2rem;
    line-height: 2.25rem;
    color: #fff;
    letter-spacing: 2.5px;
    font-family: bigjhon !important;
    word-spacing: 1px;
    font-weight: normal;
}
.wellcome-content h2 {
    font-size: 1.5rem;
    line-height: 2.25rem;
    font-weight: normal;
    font-family: bigjhon !important;
    color: #fff;
    letter-spacing: 1px;
    word-spacing: 1px;
    margin-bottom: 3rem;
}
.wellcome-content h2 span {
    color: #fff;
    background: linear-gradient(-45deg,#ee7752,#e73c7e,#23a6d5,#23d5ab);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 5s linear infinite Gradient;
    animation: 5s linear infinite Gradient;
    border-radius: 3px;
    font-weight: normal;
}
.wellcome-content {
    margin-top: 30px;
}
.wl-stars {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
}
.wl-stars img {
    width: 171px;
}
.wl-stars span {
    opacity: 1;
    font-weight: 700;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-size: 18px;
    color: #fff;
    letter-spacing: 1px;
    margin-right: 15px;
}
.wlDesc p {
    color: #fff;
    font-size: 1.1rem;
}
.wlDesc {
    display: flex;
    justify-content: center;
    align-items: center;
}
.wlDesc p svg {
    color: #2ad92a;
    margin-left: 20px;
}
.hero-footer {
    position: relative;
    border-top: 1px solid rgba(255,255,255,.1);
    background-color: rgba(0,0,0,.2);
    margin-top: 70px;
}
.icon-content {
    padding: 1.5rem 0;
    position: relative;
    cursor: pointer;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    transition: border-color .3s;
}
.icon-content::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right,rgba(255,255,255,0),rgba(255,255,255,.2),rgba(255,255,255,0));
    opacity: 0;
    transition: opacity .3s;
}
.icon-content:hover::before{
    opacity: 1;
}
.icon-content svg {
    fill: #ddd;
    width: 45px;
}
.icon-content p {
    font-family: 'bigjhon';
    color: #fff;
    font-size: 1rem;
    letter-spacing: 1px;
    margin: 0 !important;
}
.icon-wrap {
    transform: scale(0.9);
    transition: opacity .3s,transform .3s;
}
.icon-content:hover .icon-wrap {
    transform: scale(1);
}
/*--------------------
Hero Section Style End
----------------------*/
/*--------------------
Status Section Style Start
----------------------*/

#home-section-stats{
    padding: 50px 0 50px 0;
    background: linear-gradient(to right,rgba(255,255,255,0) 25%,#fff 50%),url(../images/home_section_1_bg_v2.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
#home-section-stats::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 50%;
    background: url(../images/boostingservices.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
}
.render-img img {
    margin-left: -100px;
}
.Siconwrap img {
    width: 35px;
}
.Siconwrap h3 {
    margin: 0;
    font-size: 20px;
    font-family: 'Montserrat';
    font-weight: 600;
    line-height: 1.7;
    margin-left: 15px;
}
.status-iconBox p {
    margin: 0;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #000000;
}
.status-iconBox {
    padding: 23px 24px;
    background: #F2FBF8;
}
.status-iconBox {
    margin-bottom: 20px;
}
.status-iconBox:last-child {
    margin-bottom: 0px;
}
.box2 {
    background: #FFF3F3 !important;
}
.box3 {
    background: #F3FBFF !important;
}
/*--------------------
Status Section Style End
----------------------*/
/*--------------------
Process Section Style Start
----------------------*/
#home-process{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #f6f9fc;
}
.Piconboxes img {
    width: 60px;
}
.Piconboxes h3 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 15px;
    color: #000000;
}
.Piconboxes p{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
}
.Piconboxes {
    margin-bottom: 20px;
}
.Piconboxes .col-10 {
    padding-left: 0 !important;
}
.Piconboxes:last-child {
    margin-bottom: 0;
}
.front-video {
    position: relative;
    width: 100%;
}
#video-frame {
    height: 420px;
}
#video-frame-inner{
    animation: 50s linear infinite reverse rotateVideoFrame;
    -ms-transform-origin: center center;
    transform-origin: center center;
}
.video-poster {
    position: absolute;
    top: 47%;
    left: 50%;
    width: 345px;
    height: 345px;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 50%;
    transition: background-image 0.3s ease 0s;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px inset;
    background-image: url("../images/video-poster.webp");
    background-position: center center !important;
    background-size: cover !important;
}
.video-poster svg {
    position: absolute;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    font-size: 5rem;
    color: #fff;
    text-shadow: 0 0 10px rgb(0 0 0 / 20%);
}
.video-poster::before {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgba(0,0,0,.5);
    position: absolute;
    top: 0;
    left: 0;
    transition: background-color .5s;
}
.video-poster:hover::before {
    opacity: 0;
}
/*--------------------
Process Section Style End
----------------------*/
/*--------------------
Live Chat Section Style Start
----------------------*/
#live-chat-section{
    padding: 0;
    background: linear-gradient(to right,rgba(0,50,97,.95),rgba(0,50,97,.95)),url(../images/home_chat_bg.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.chat-content h3{
    color: #ffffff;
}
.chat-content p {
    color: #fff;
    margin-bottom: 20px;
}
.chat-content p:last-child{
    margin-bottom: 0 !important;
}
.live-btn {
    font-family: inherit !important;
    margin-left: 10px;
    display: inline-block;
    line-height: 0;
    padding: 1.7rem 3rem !important;
    background: #fff !important;
    color: #345fdb !important;
    margin: 0 !important;
    margin-top: 25px !important;
}
.live-btn::before {
    background: #345fdb !important;
    color: #fff;
}
.live-btn:hover {
    color: #fff !important;
}
/*--------------------
Live Chat Section Style End
----------------------*/
/*--------------------
Bloging Section Style Start
----------------------*/
#bloging-section{
    padding: 100px 0;
    background: #fff;
    position: relative;
}
.Biconboxes {
    background: #F2FBF8;
    text-align: center;
    padding: 40px;
    border-radius: 5px;
}
.bicon {
    display: inline-block;
    background: #82D9C8;
    height: 96px;
    width: 96px;
    border-radius: 50%;
    line-height: 96px;
    margin-bottom: 15px;
}
.bicons h3 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    margin-bottom: 15px;
    color: #000;
}
.bicons p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #000;
    letter-spacing: 0.3px;
}
.bbox2 {
    background: #FFF3F3;
}
.bbox2 .bicon {
    background: #FF6C6C;
}
.bbox3 {
    background: #E6F2FF;
}
.bbox3 .bicon {
    background: #9A99F2;
}
.video-wrapper h3 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #000;
}
.blog-video-poster {
    position: relative;
}
.blog-video-thumb {
    width: 100%;
    height: 100%;
}
.blog-video-play {
    position: absolute;
    height: 90px;
    width: 90px;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}
/*--------------------
Bloging Section Style End
----------------------*/
/*--------------------
Security Section Style Start
----------------------*/
.securityimg {
    margin-top: -200px;
    margin-left: -134px;
}
.security-content h3{
    color: #fff;
    text-align: center;
}
.securityiconbox img {
    margin-bottom: 15px;
    height: 50px;
}
.securityiconbox h3 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    letter-spacing: 1px;
}
/*--------------------
Security Section Style End
----------------------*/
/*--------------------
Testimonial Section Style Start
----------------------*/
#testimonials{
    padding: 100px 0 170px 0;
    background: #F6F9FC,url(../images/shape.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
}
#testimonials::before {
    content: "";
    position: absolute !important;
    height: 100%;
    width: 100%;
    background-image: url(../images/shape.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.slider-items {
    background: #fff;
    padding: 30px 20px;
    box-shadow: 0 0 10px #3333330a;
    border-radius: 10px;
    position: relative;
    margin: 15px;
}
.slider-items .stars {
    margin-bottom: 15px;
    display: flex;
}
.slider-items .cuntry {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #212529;
    margin-bottom: 20px;
}
.slider-items .title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: #212529;
    margin-bottom: 10px;
}
.slider-items .time {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 23px;
    color: #898989;
    margin: 0 !important;
}
.slider-items .division {
    background: #007bff;
    color: #fff;
    padding: 10px 25px;
    border-radius: 5px;
    position: absolute;
    top: 18px;
    right: 25px;
}
.slider-wrapper .slick-arrow {
    background: #E2E8EE;
    border: 0;
    font-size: 30px;
    color: #fff;
    height: 50px;
    width: 50px;
}
.slider-wrapper .slick-arrow {
    background: #E2E8EE;
    border: 0;
    font-size: 30px;
    color: #fff;
    height: 50px;
    width: 50px;
    transition: all linear.3s;
    cursor: pointer;
}
.slider-wrapper .slick-next {
    left: 75px;
    position: absolute;
    bottom: -60px;
}
.slider-wrapper .slick-prev {
    bottom: -60px;
    position: absolute;
    left: 15px;
}
.slider-wrapper .slick-arrow:hover{
    background: #007bff;
}
/*--------------------
Testimonial Section Style End
----------------------*/
/*--------------------
Support Section Style Start
----------------------*/
#support-section{
    padding: 100px 0;
    background-image: linear-gradient(to right,#122764 40%,rgba(18,39,100,.2) 70%),url(../images/support_bg.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/*--------------------
Support Section Style End
----------------------*/
/*--------------------
About Section Style Start
----------------------*/
#about-company{
    padding: 100px 0;
}
.about-btn {
    background: #345fdb !important;
    color: #fff !important;
}
.about-content p {
    margin-bottom: 20px;
}
/*--------------------
About Section Style End
----------------------*/
/*--------------------
Footer Section Style Start
----------------------*/
#site-footer{
    padding: 100px 0;
    background: linear-gradient(to right,#121935,#121920);
}
.footer-about .logo {
    width: 140px;
    margin-bottom: 25px;
}
.footer-about .content {
    color: #fff;
    margin-bottom: 25px;
    line-height: 30px !important;
}
.footer-about .copyright {
    color: #9cb2c8;
    margin-bottom: 35px;
}
.footer-widgets .widget-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 29px;
    text-align: left;
    color: #fff;
    letter-spacing: 1px;
}
.footer-widgets ul li a {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 33px;
    color: #9cb2c8;
}
/*--------------------
Footer Section Style End
----------------------*/
#liveanimation canvas, #liveanimation1 canvas, #support-animation canvas {
    position: absolute;
    height: auto;
    top: 0;
    left: 0;
    opacity: 0.3;
}
/*--------------------
Responsive Query Start
----------------------*/
@media(max-width: 1024px){

}
@media(max-width: 991px){}
@media(max-width: 768px){
    .site-nav ul {
        display: block;
    }
    .site-nav ul li {
        margin-bottom: 10px;
    }
    .site-nav {
        background: #333;
        padding: 10px;
    }
    .brand a img {
        width: 170px;
    }
    #live-chat-section .row {
        order: revert !important;
    }
    .chat-content {
        margin-top: 80px;
        margin-bottom: 50px;
    }
    .front-video {
        margin-top: 60px;
    }
    .video-poster {
        width: 442px;
        height: 442px;
    }
    #live-chat-section .row {
        order: revert !important;
    }
    .Biconboxes {
        margin-bottom: 30px;
    }
    .video-wrapper {
        margin-bottom: 65px;
    }
    .security-content {
        margin-top: 60px;
        margin-bottom: 60px;
    }
    .footer-widgets {
        margin-top: 50px;
    }
    .mobilemenu{
        display: flex;
    }
    .site-nav ul {
        display: none;
    }
    .site-nav {
        padding: 0;
        height: 40px;
        width: 40px;
        text-align: end;
        float: right;
        background-image: url(../images/menu.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 50%;
    }
    .site-nav:hover ul {
        display: flex;
    }
    .container{
        width: unset !important;
    }
    #home-section-stats::before {
        width: 100%;
        opacity: 0.5;
    }
    .chat-content {
        text-align: center !important;
    }
    .chat-content h3 {
        text-align: center;
    }
    .securityimg {
        margin-top: -100px;
        margin-left: 0;
    }
    .securityiconbox {
        margin-bottom: 30px;
    }
    .status-content h3 {
        text-shadow: 0 0 10px #fff;
    }
    .about-content {
        text-align: center;
    }
    .about-content h3 {
        text-align: center;
    }
}
@media(max-width: 767px){
    .site-nav ul {
        display: block;
    }
    .site-nav ul li {
        margin-bottom: 10px;
    }
    .site-nav {
        padding: 10px;
    }
    .brand a img {
        width: 170px;
    }
    #live-chat-section .row {
        order: revert !important;
    }
    .chat-content {
        margin-top: 80px;
        margin-bottom: 50px;
    }
    .front-video {
        margin-top: 60px;
    }
    .video-poster {
        width: 345px;
        height: 345px;
    }
    .Biconboxes {
        margin-bottom: 30px;
    }
    .video-wrapper {
        margin-bottom: 65px;
    }
    .security-content {
        margin-top: 60px;
        margin-bottom: 60px;
    }
    .footer-widgets {
        margin-top: 50px;
    }
    .mobilemenu{
        display: flex;
    }
    .site-nav ul {
        display: none;
    }
    .site-nav {
        padding: 0;
        height: 30px;
        width: 30px;
        text-align: end;
        float: right;
    }
    .site-nav:hover ul {
        display: flex;
    }
    .container{
        width: unset !important;
    }
    #home-section-stats::before {
        width: 100%;
        opacity: 0.5;
    }
    .chat-content {
        text-align: center !important;
    }
    .chat-content h3 {
        text-align: center;
    }
    .securityimg {
        margin-top: -100px;
        margin-left: 0;
    }
    .securityiconbox {
        margin-bottom: 30px;
    }
    .status-content h3 {
        text-shadow: 0 0 10px #fff;
    }
    .about-content {
        text-align: center;
    }
    .about-content h3 {
        text-align: center;
    }
}
@media(max-width: 425px){
    .site-nav {
        padding: 0;
        height: 55px;
        width: 55px;
        text-align: end;
        float: right;
    }
    .leftlogo {
        width: 60% !important;
    }
    .leftmenu {
        width: 40% !important;
    }
    .button-list .ggBtn {
        font-size: 0.6rem !important;
        padding: 0.4rem 0.5rem !important;
        line-height: 31px !important;
        font-weight: 300 !important;
    }
    .status-iconBox p {
        padding-left: 50px;
    }
    .Siconwrap img {
        margin-bottom: -25px;
    }
    .video-poster {
        width: 250px;
        height: 250px;
    }
}
/*--------------------
Responsive Query End
----------------------*/