/*--------------------
Google Fonts
----------------------*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
/*--------------------
Gobal Style
----------------------*/
:root{
	--bg-black-900: #000000;
    --bg-black-100: #dddddd;
    --bg-black-50: #dff0f4;
    --bg-opacity: rgba(255,255,255,0.5);
    --text-black-900: #000000;
    --text-black-700: #555555;
    --text-black-600: #666666;
    --text-black-300: #bbbbbb;
    --bg-black-300: #bbbbbb;
    --outer-shadow: 3px 3px 3px #d0d0d0, -3px -3px 3px #f8f8f8;
    --outer-shadow-0: 0 0 0 #d0d0d0, 0 0 0 #f8f8f8;
    --inner-shadow: inset 3px 3px 3px #d0d0d0, inset -3px -3px 3px #f8f8f8;
    --inner-shadow-0: inset 0 0 0 #d0d0d0, inset 0 0 0 #f8f8f8;
}
@font-face {
    font-family: bigjhon;
    src: url(../webfonts/BIGJOHN.woff);
  }
body{
    font-family: "Open Sans", sans-serif;
    line-height: 1.5;
    overflow-x: hidden !important;
    font-weight: 400;
    color: #212529;
}
body.stop-scrolling{
    overflow-y: hidden;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
::before , ::after{
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
ul , ol{
    list-style: none;
    margin: 0;
    padding: 0;
}
img{
    vertical-align: middle;
    max-width: 100%;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat', sans-serif;
}
@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes toBounce{
    0%,100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(20px);
    }
}
@keyframes leftBounce{
    0%,100%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(20px);
    }
}
@keyframes fadeInTop{
    0%{
        opacity: 0;
        transform: translateY(-25px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
@keyframes Gradient{
    0%{
        color: #fff;
        background: linear-gradient(-45deg,#ee7752,#e73c7e,#23a6d5,#23d5ab);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        border-radius: 3px;
        font-weight: normal;
    }
    50%{
        color: #fff;
        background: linear-gradient(-45deg,#ee7752,#e73c7e,#23d5ab);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        border-radius: 3px;
        font-weight: normal;
    }
    100%{
        color: #fff;
        background: linear-gradient(-45deg,#ee7752,#e73c7e);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        border-radius: 3px;
        font-weight: normal;
    }
}
.section-title {
    padding: 0;
    max-width: 100%;
    text-align: left;
    margin-bottom: 30px;
    font-family: "Montserrat", sans-serif !important;
    color: #345FDB;
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: 600;
}
.content{
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 40px;
    display: block;
}
.section-title h2{
    display: inline-block;
    font-size: 30px;
    font-weight: 700;
    color: var(--text-black-900);
    text-transform: uppercase;
    margin: 0;
}
.section-title h2::before{
    content: attr(data-heading);
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: var(--skin-color1);
}
.section.hide{
    display: none;
}
/*--------------------
Pre Loader
----------------------*/
.preloader{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1500;
    background: var(--bg-black-50);
    display: flex;
    justify-content: center;
    align-items: center;
}
.preloader.fade-out{
    opacity: 0;
    transition: all 0.6s ease;
}
.preloader .box{
    width: 65px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.preloader .box div{
    height: 15px;
    width: 15px;
    background: var(--skin-color1);
    border-radius: 50%;
    animation: loaderAni 1s ease infinite;
}
.preloader .box div:nth-child(2){
    animation-delay: 0.1s;
}
.preloader .box div:nth-child(3){
    animation-delay: 0.2s;
}
@keyframes loaderAni{
    0%,100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-30px);
    }
}
.button-list{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ggBtn {
    cursor: pointer;
    height: 3rem;
    border-radius: 3px;
    padding: 1.1rem 2rem;
    font-family: bigjhon,sans-serif;
    font-weight: 500;
    border-style: solid;
    transition: color .3s,background-color .3s;
    overflow: hidden;
    position: relative;
    border-width: 0;
    outline: 0;
    white-space: nowrap;
    background: linear-gradient(to right,#345fdb,#347cdb);
    color: #fff;
    box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
    font-size: 1.15rem;
    letter-spacing: 1px;
    display: block;
    line-height: 9.5px;
}
.ggBtn:hover{
    color: #345fdb !important;
}
.ggBtn:before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: 0;
    color: #fff;
    border-radius: 3px;
    transform: skew(-35deg);
    opacity: 1;
    background: #fff;
    z-index: 2;
    transition: left .4s cubic-bezier(.86,0,.07,1),width .4s cubic-bezier(.86,0,.07,1),transform .4s cubic-bezier(.86,0,.07,1),opacity .3s;
}
.ggBtn:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0);
    left: 0;
    top: 0;
}
.ggBtn:hover:before {
    left: 0;
    width: 100%;
    transform: skew(0);
    transition: left .4s cubic-bezier(.86,0,.07,1),width .4s cubic-bezier(.86,0,.07,1),transform .4s cubic-bezier(.86,0,.07,1),opacity .3s;
}
.ggBtn span {
    position: relative;
    z-index: 3;
}
.btnred {
    text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
    box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
    background: linear-gradient(to right,#e7253c,#e74c3c);
    margin-left: 10px;
}
.btnred:hover{
    color: #e7253c !important;
}
/*--------------------
Header Style Start
----------------------*/
#site-header{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}
#header-top {
    background-color: rgba(0,0,0,.3);
    margin-bottom: 1.5rem;
    border-bottom: 1px solid rgba(255,255,255,.1);
}
.top-social-list ul li a {
    font-size: 1rem;
    padding: 0.9rem 1rem;
    box-shadow: 0 0 0 rgb(0 0 0 / 30%);
    color: #fff!important;
    opacity: .5;
    transition: opacity .3s,box-shadow .3s;
    font-family: "Open Sans", sans-serif;
    line-height: 1.5;
    font-weight: 400;
    display: inline-block;
}
.top-social-list ul li a:hover{
    opacity: 1;
    box-shadow: 0 0 10px #3333;
}
.site-nav ul li a {
    font-family: inherit !important;
    margin-left: 10px;
}
.site-nav ul li .ggBtn {
    padding: 1.7rem 2rem !important;
    line-height: 0;
}
.site-nav ul li a.nav-item {
    background: transparent !important;
    padding: 1.7rem 1rem !important;
    line-height: 0px !important;
}
.site-nav .nav-item::before {
    background: #345fdb !important;
}
.site-nav .nav-item:hover {
    color: #fff !important;
}
/*--------------------
Header Style End
----------------------*/
/*--------------------
Hero Section Style Start
----------------------*/
#hero-section{
    padding: 250px 0 0px 0;
    background: linear-gradient(to right,rgba(0,50,97,.85),rgba(0,50,97,.84)),url(../images/home_welcome_bg.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.wellcome-logo svg {
    fill: #ddd !important;
}
.wellcome-content h1 {
    font-size: 2rem;
    line-height: 2.25rem;
    color: #fff;
    letter-spacing: 2.5px;
    font-family: bigjhon !important;
    word-spacing: 1px;
    font-weight: normal;
}
.wellcome-content h2 {
    font-size: 1.5rem;
    line-height: 2.25rem;
    font-weight: normal;
    font-family: bigjhon !important;
    color: #fff;
    letter-spacing: 1px;
    word-spacing: 1px;
    margin-bottom: 3rem;
}
.wellcome-content h2 span {
    color: #fff;
    background: linear-gradient(-45deg,#ee7752,#e73c7e,#23a6d5,#23d5ab);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 5s linear infinite Gradient;
    animation: 5s linear infinite Gradient;
    border-radius: 3px;
    font-weight: normal;
}
.wellcome-content {
    margin-top: 30px;
}
.wl-stars {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
}
.wl-stars img {
    width: 171px;
}
.wl-stars span {
    opacity: 1;
    font-weight: 700;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-size: 18px;
    color: #fff;
    letter-spacing: 1px;
    margin-right: 15px;
}
.wlDesc p {
    color: #fff;
    font-size: 1.1rem;
}
.wlDesc {
    display: flex;
    justify-content: center;
    align-items: center;
}
.wlDesc p svg {
    color: #2ad92a;
    margin-left: 20px;
}
.hero-footer {
    position: relative;
    border-top: 1px solid rgba(255,255,255,.1);
    background-color: rgba(0,0,0,.2);
    margin-top: 70px;
}
.icon-content {
    padding: 1.5rem 0;
    position: relative;
    cursor: pointer;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    transition: border-color .3s;
}
.icon-content::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right,rgba(255,255,255,0),rgba(255,255,255,.2),rgba(255,255,255,0));
    opacity: 0;
    transition: opacity .3s;
}
.icon-content:hover::before{
    opacity: 1;
}
.icon-content svg {
    fill: #ddd;
    width: 45px;
}
.icon-content p {
    font-family: 'bigjhon';
    color: #fff;
    font-size: 1rem;
    letter-spacing: 1px;
    margin: 0 !important;
}
.icon-wrap {
    transform: scale(0.9);
    transition: opacity .3s,transform .3s;
}
.icon-content:hover .icon-wrap {
    transform: scale(1);
}
/*--------------------
Hero Section Style End
----------------------*/
/*--------------------
Status Section Style Start
----------------------*/

#home-section-stats{
    padding: 100px 0 80px 0;
    background: linear-gradient(to right,rgba(255,255,255,0) 25%,#fff 50%),url(../images/home_section_1_bg_v2.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.render-img img {
    margin-left: -100px;
}
.Siconwrap img {
    width: 40px;
}
.Siconwrap h3 {
    margin: 0;
    font-size: 20px;
    font-family: 'Montserrat';
    font-weight: 600;
    line-height: 1.7;
    margin-left: 10px;
}
.status-iconBox p {
    margin: 0;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.6px;
    line-height: 1.5rem;
}
.status-iconBox {
    padding: 15px;
    background: #e3fdfd;
    border-radius: 5px;
}
.status-iconBox {
    margin-bottom: 20px;
}
.status-iconBox:nth-child(even) {
    background: #fff2d4;
}
/*--------------------
Status Section Style End
----------------------*/
/*--------------------
Process Section Style Start
----------------------*/
#home-process{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #f6f9fc;
}
.Piconboxes h3 {
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    line-height: 1rem;
    margin-bottom: 15px;
}
.Piconboxes p{
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 400;
    color: #212529;
}
.Piconboxes {
    margin-bottom: 20px;
}
.Piconboxes:last-child {
    margin-bottom: 0;
}
.front-video {
    position: relative;
    width: 100%;
}
.video-poster {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 350px;
    height: 350px;
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    border-radius: 50%;
    background-position: center center!important;
    background-size: cover!important;
    transition: background-image .3s;
    cursor: pointer;
    box-shadow: inset 0 0 10px rgb(0 0 0 / 50%);
    background-image: url(../images/video-poster.webp);
}
.video-poster svg {
    position: absolute;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    font-size: 5rem;
    color: #fff;
    text-shadow: 0 0 10px rgb(0 0 0 / 20%);
}
.video-poster::before {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgba(0,0,0,.5);
    position: absolute;
    top: 0;
    left: 0;
    transition: background-color .3s;
}
/*--------------------
Process Section Style End
----------------------*/